LoadModule postgresql

<Plugin postgresql>
{% for entry in collectd_postgresql_databases %}
  <Database {{ entry.name }}>
    Host "{{ entry.host }}"
    Port "{{ entry.port }}"
    User "{{ entry.user }}"
    Password "{{ entry.password }}"
    SSLMode "{{ entry.sslmode }}"
  </Database>
{% endfor %}
</Plugin>
