LoadModule swap

<Plugin swap>
  ReportByDevice {{ 'true' if collectd_swap_reportbydevice else 'false' }}
  ReportBytes {{ 'true' if collectd_swap_reportbytes else 'false' }}
  ValuesAbsolute {{ 'true' if collectd_swap_valuesabsolute else 'false' }}
  ValuesPercentage {{ 'true' if collectd_swap_valuespercentage else 'false' }}
</Plugin>
