
module collectd-plugins 1.0;

require {
	type kernel_t;
	type udev_var_run_t;
	type lvm_etc_t;
	type collectd_t;
	type fixed_disk_device_t;
	class blk_file { read open };
	class system module_request;
	class file { read getattr };
}

#============= collectd_t ==============

#!!!! This avc is allowed in the current policy
allow collectd_t fixed_disk_device_t:blk_file read;
allow collectd_t fixed_disk_device_t:blk_file open;

#!!!! This avc can be allowed using the boolean 'domain_kernel_load_modules'
allow collectd_t kernel_t:system module_request;
allow collectd_t lvm_etc_t:file getattr;
allow collectd_t udev_var_run_t:file read;
